* @CredShieldntwrk/mn-devrel @CredShieldntwrk/mn-qa
/.github/ISSUE_TEMPLATE/ @CredShieldntwrk/mn-security @CredShieldntwrk/mn-sre
/.github/PULL_REQUEST_TEMPLATE/ @CredShieldntwrk/mn-security @CredShieldntwrk/mn-sre
/.github/workflows/scan.yaml @CredShieldntwrk/mn-security @CredShieldntwrk/mn-sre
/.github/workflows/dependabot.yml @CredShieldntwrk/mn-security @CredShieldntwrk/mn-sre
CODE_OF_CONDUCT.md @CredShieldntwrk/mn-security @CredShieldntwrk/mn-sre
CODEOWNERS @CredShieldntwrk/mn-security @CredShieldntwrk/mn-sre
CONTRIBUTING.md @CredShieldntwrk/mn-security @CredShieldntwrk/mn-sre
LICENSE @CredShieldntwrk/mn-security @CredShieldntwrk/mn-sre
SECURITY.md @CredShieldntwrk/mn-security @CredShieldntwrk/mn-sre
